<!DOCTYPE html>
<html lang="es">

<link rel="stylesheet" href="/css/main.css" />
		<link rel="stylesheet" href="/sass/main.scss">
    <link rel="stylesheet" href="/css/profile-style.css">
		<noscript><link rel="stylesheet" href="/public/css/noscript.css" /></noscript>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body class="is-preload landing">
  <style>
    .image-upload-container {
      margin-bottom: 20px;
    }
  
    
  
    .image-upload-input {
      display: block;
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
    }
  </style>
    <div id="page-wrapper">
      <%-include('../views/layouts/layoutP.ejs')%>
  <section id="banner">
  <div class="content">
  
    <div class="perfil-container">
      <img src="<%= user.image %>" alt="Perfil de <%= user.username %>" class="image left">
      
      <div class="info">
        <form id="editForm" action="/profile/edit" method="post" enctype="multipart/form-data" style="display: none;">
          <div>
            <label for="editfechanac">Fecha de Nacimiento:</label>
            <input type="date" id="fechanac" name="editfechanac" value="<%= user.fechanac.toISOString().split('T')[0] %>" style="color: black;">
          </div>
          <div>
            <label for="editnombres">Nombre:</label>
            <input type="text" id="nombres" name="editnombres" value="<%= user.nombres %>">
          </div>
          <div>
            <label for="editapellidos">Apellidos:</label>
            <input type="text" id="apellidos" name="editapellidos" value="<%= user.apellidos %>">
          </div>
          <div>
            <label for="editusername">Username:</label>
            <input type="text" id="username" name="editusername" value="<%= user.username %>">
          </div>
          
          <div>
            <label for="editphone">Teléfono:</label>
            <input type="text" id="edithone" name="editphone" value="<%= user.phone %>">
          </div>
          <div>
            <label for="editdireccion">Dirección:</label>
            <input type="text" id="direccion" name="editdireccion" value="<%= user.direccion %>">
          </div>
          <div>
            <label for="editci">CI:</label>
            <input type="text" id="ci" name="editci" value="<%= user.ci %>">
          </div>
          <!-- Agrega aquí el resto de los campos -->
          <div class="image-upload-container">
            <label for="editimage" class="image-upload-label">Nueva imagen de perfil:</label>
            <input type="file" id="editimage" name="editimage" accept=".jpg,.jpeg,.png" class="image-upload-input" value="<%= user.image %>">
          </div>
          <button class="button primary" type="submit">Guardar cambios</button>
        </form>

        <div id="userInfo">
        <div>
          <label>Username:</label>
          <p><%= user.username %></p>
        </div>
        <div>
          <label>Fecha de Nacimiento:</label>
          <p><%= user.fechanac.toLocaleDateString(undefined, { day: 'numeric', month: 'long', year: 'numeric' }) %></p>
        </div>
        <div>
          <label>Nombre Completo:</label>
          <p><%= user.nombres %> <%= user.apellidos %></p>
        </div>
        <div>
          <label>Email:</label>
          <p><%= user.email %></p>
        </div>
        <div>
          <label>Teléfono:</label>
          <p><%= user.phone %></p>
        </div>
        <div>
          <label>Dirección:</label>
          <p><%= user.direccion %></p>
        </div>
        <div>
          <label>CI:</label>
          <p><%= user.ci %></p>
        </div>
      </div>
    </div>
      <div>
        <button id="editButton" class="button primary">Editar</button>
      </div>
      </div>
      </section>
      </div>
    </body>
        
<script src="/javascript/jquery.min.js"></script>
<script src="/javascript/jquery.scrolly.min.js"></script>
<script src="/javascript/jquery.dropotron.min.js"></script>
<script src="/javascript/jquery.scrollex.min.js"></script>
<script src="/javascript/browser.min.js"></script>
<script src="/javascript/breakpoints.min.js"></script>
<script src="/javascript/util.js"></script>
<script src="/javascript/main.js"></script>

<script>
  $(document).ready(function() {
    $('#editButton').click(function() {
      $('#userInfo').hide();
      $('#editForm').show();
    });
  });
</script>
</html>