<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/signup-style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <link rel="stylesheet" href="/css/main.css" />
		<link rel="stylesheet" href="/sass/main.scss">
		<noscript><link rel="stylesheet" href="/public/css/noscript.css" /></noscript>
<title>Registro</title>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script>
          function onSubmit(token) {
            document.getElementById("registro").submit();
          }
        </script>
    <script>
      window.addEventListener("DOMContentLoaded", () => {
        const previewImage = document.getElementById("preview-image");
        const dropArea = document.getElementById("image-preview");

        function handleImageUpload(file) {
          const reader = new FileReader();
          reader.readAsDataURL(file);
          reader.onloadend = () => {
            previewImage.src = reader.result;
            previewImage.style.display = "block"; 
          };
        }

        function handleDragOver(e) {
          e.preventDefault();
          dropArea.classList.add("image-preview-dragover");
        }

        function handleDragLeave(e) {
          e.preventDefault();
          dropArea.classList.remove("image-preview-dragover");
        }

        function handleDrop(e) {
          e.preventDefault();
          dropArea.classList.remove("image-preview-dragover");
          const file = e.dataTransfer.files[0];
          handleImageUpload(file);
          dropArea.classList.add("image-preview-active");
        }

        const imageInput = document.getElementById("image-file");
        imageInput.addEventListener("change", (e) => {
          const file = e.target.files[0];
          handleImageUpload(file);
          dropArea.classList.add("image-preview-active");
        });

        dropArea.addEventListener("dragover", handleDragOver);
        dropArea.addEventListener("dragleave", handleDragLeave);
        dropArea.addEventListener("drop", handleDrop);

        //validaciones colocadas
        var nombres = document.getElementById("nombres");
        nombres.addEventListener("input", function() {
          // Obtén el valor actual del campo de entrada
          const inputValue = nombres.value;
          // Comprueba si el valor coincide con la expresión regular
          if (!/^[a-zA-Z\s]+$/.test(inputValue)) {
            // Si no coincide, elimina el último carácter ingresado
            nombres.value = inputValue.slice(0, -1);
          }
        });
        var apellidos = document.getElementById("apellidos");
        apellidos.addEventListener("input", function() {
          const inputValue = apellidos.value;
          if (!/^[a-zA-Z\s]+$/.test(inputValue)) {
            apellidos.value = inputValue.slice(0, -1);
          }
        });
        var ci = document.getElementById("ci");
        ci.addEventListener("input", function() {
          console.log("ci")
          const inputValue = ci.value;
          if (!/^\d+([a-zA-Z])?$/i.test(inputValue)) {
            ci.value = inputValue.slice(0, -1);
          }
        });
        var phone = document.getElementById("phone");
        phone.addEventListener("input", function() {
          const inputValue = phone.value;
          if (!/^[0-9]+$/.test(inputValue)) {
            phone.value = inputValue.slice(0, -1);
          }
        });
      });

      //validacion de imagen:
      function validateForm() {
        var fileInput = document.getElementById("image-file");
        if (fileInput.files.length < 1) {
          alert("Por favor, elige un archivo.");
          return false;
        }
        var file = fileInput.files[0];
        var fileName = file.name.toLowerCase();
        if (!(fileName.endsWith(".jpeg") || fileName.endsWith(".jpg") || fileName.endsWith(".png"))) {
          alert("Elige un archivo con formato JPEG o PNG.");
          return false;
        }
        var fechaNacimiento = document.getElementById("fechanac").value;
        var today = new Date();
        var birthDate = new Date(fechaNacimiento);
        var age = today.getFullYear() - birthDate.getFullYear();
        var monthDiff = today.getMonth() - birthDate.getMonth();
        if (monthDiff < 0 || (monthDiff === 0 && today.getDate() < birthDate.getDate())) {
          age--;
        }
        if (age < 18) {
          alert("Debes tener al menos 18 años para registrarte.");
          return false;
        }
        // Todas las validaciones pasaron
        return true;
      }
    </script>
</head>

<body data-error-msg="<%= error_msg %>">
  
<script src="/javascript/validacion"></script>
    <div class="container">
      
      <a href="/index">
        <img src="https://storage.googleapis.com/primerstorage/LogoA-removebg-preview.png" alt="Azurduy & Asociados" style="max-width: 100%; height: 50px;">
      </a>
      <form class="form" id="registro" action="/signup" method="post" enctype="multipart/form-data" onsubmit="return validateForm();">
        <h2 style="color: #dee3ed">Crear Cuenta</h2>
        
        <table>
          <tr>
            <td>
              <div class="form-group">
                <label for="nombres">Nombres:</label>
                <input type="text" class="form-control" id="nombres" name="nombres" placeholder="Ingresa tus nombres" maxlength="30" required>
              </div>
            </td>
            <td>
              <div class="form-group">
                <label for="apellidos">Apellidos:</label>
                <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Ingresa tus apellidos" maxlength="30" required>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                <label for="username">Nombre de Usuario:</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Ingresa tu nombre de usuario" maxlength="30" required>
                <% if (locals.error_msg && locals.username) { %>
                  <small class="error-message"><%= error_msg %></small>
                <% } %>
              </div>
            </td>
            <td>
              <div class="form-group">
                <label for="ci">Cédula de identidad:</label>
                <input type="text" class="form-control" id="ci" name="ci" placeholder="Ingresa tu cédula de identidad" maxlength="8" required>
                <% if (locals.error_msg && locals.ci) { %>
                  <small class="error-message"><%= error_msg %></small>
                <% } %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                <label for="direccion">Dirección:</label>
                <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Ingresa tu dirección" maxlength="30" required>
              </div>
            </td>
            <td>
              <div class="form-group">
                <label for="fechanac">Fecha de nacimiento:</label>
                <input type="date" class="form-control" id="fechanac" name="fechanac" placeholder="Ingresa tu fecha de nacimiento" max="2006-01-01" required>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                <label for="phone">Teléfono:</label>
                <input type="text" class="form-control" id="phone" name="phone" placeholder="Ingresa tu teléfono" maxlength="8" required>
                <% if (locals.error_msg && locals.phone) { %>
                  <small class="error-message"><%= error_msg %></small>
                <% } %>
              </div>
            </td>
            <td>
              <div class="form-group">
                <label for="email">Email(solo gmail):</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Ingresa tu correo electrónico" maxlength="50" required>
                <% if (locals.error_msg && locals.email) { %>
                  <small class="error-message"><%= error_msg %></small>
                <% } %>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Ingresa tu contraseña" maxlength="15" required>
              </div>
            </td>
          </tr>
          <% if (locals.success_msg) { %>
            <tr>
              <td colspan="2">
                <div class="alert alert-success">
                  <%= success_msg %>
                  
                  Verifica tu correo electrónico para completar el registro.
                </div>
              </td>
            </tr>
          <% } %>
          <tr>
            <td colspan="2">
              <div class="form-group">
                <label for="image">Imagen de perfil:</label>
                <div id="image-preview" class="image-preview">
                  <div class="drop-area">
                    <input type="file" id="image-file" accept=".jpg,.jpeg,.png" name="image">
                    <div class="choose-file">Elegir archivo</div>
                    <p>Arrastra y suelta tu imagen aquí</p>
                  </div>
                  <img id="preview-image" src="#" alt="Preview Image">
                </div>
              </div>
            </td>
          </tr>
         
        </table>
        <div style="display: flex; justify-content: center; ">
          <button type="submit" class="choose-file g-recaptcha" style="width: 100%;"  data-sitekey="6LcsGnYmAAAAAM-QRxnsyUxJSHPThtztnUD2A06r" data-callback="onSubmit">Registrarse</button>
        </div>
        
       
      </form>
      <div style="display: flex; justify-content: center; ">
        <a href="/index" style="width: 100%;"> <button type="" class="choose-file" style="width: 100%; background-color: #d90e00;">Cancelar</button></a>
       </div>
        
      </div>
      <script>
        const usernameInput = document.getElementById('username');
        const emailInput = document.getElementById('email');
        const phoneInput = document.getElementById('phone');
        const ciInput = document.getElementById('ci');

        usernameInput.addEventListener('input', () => {
          const username = usernameInput.value;
          fetch(`/checkUsername?username=${username}`)
            .then(response => response.json())
            .then(data => {
              if (!data.valid) {
                alert('el nombre de usuario ya esta en uso')
              }
            });
        });

          emailInput.addEventListener('input', () => {
            const email = emailInput.value;
            fetch(`/checkEmail?email=${email}`)
              .then(response => response.json())
              .then(data => {
                if (!data.valid) {
                  alert('el email ya esta en uso')
                }
              });
          });

          phoneInput.addEventListener('input', () => {
            const phone = phoneInput.value;
            fetch(`/checkphone?phone=${phone}`)
              .then(response => response.json())
              .then(data => {
                if (!data.valid) {
                  alert('el numero de telefono ya fue registrado')
                }
              });
          });
          
          ciInput.addEventListener('input', () => {
            const ci = ciInput.value;
            fetch(`/checkci?ci=${ci}`)
              .then(response => response.json())
              .then(data => {
                if (!data.valid) {
                  alert('el numero de carnet ya esta registrado')
                }
              });
          });
          
      </script>
      
</body>
<!-- Scripts -->
<script src="/javascript/jquery.min.js"></script>
<script src="/javascript/jquery.scrolly.min.js"></script>
<script src="/javascript/jquery.dropotron.min.js"></script>
<script src="/javascript/jquery.scrollex.min.js"></script>
<script src="/javascript/browser.min.js"></script>
<script src="/javascript/breakpoints.min.js"></script>
<script src="/javascript/util.js"></script>
<script src="/javascript/main.js"></script>
</html>